* {  
    font-family:"Montserrat";
    /*font-size:80%;*/
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

.container { 
    display: flex;
    flex-direction: row;
    background: #f3f5fc;
    /* height: 100vh; */
    gap: 5%;
    position: relative;
    width: 100vw;
    padding: 5% 8%;
    align-items: center;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    width: 50%;
}

    .img-app {
        width: 12em;
        padding-bottom: 2em;
    }

    .txt-origen {
        background-color: #f3f5fc;
        border: none;
        font-size: 1.5em;
        font-weight: 400;
        line-height:150%;
        resize: none;
        padding: 0.3em 0.5em ;
        width: 100%;
        border: 1px dotted #d8dfe8;
    }

        .txt-origen::placeholder {
            color: #abb9c9;
        }

        .txt-origen:focus, .txt-origen:active {
            border: none;
            outline: none;
        }

    .msg-instrucciones {
        display: flex;
        align-items: flex-start;
        height: 40px;
        padding-top: 0.3em;
    }

        .msg-instrucciones p {
            font-size: 12px;
            color: #888;
        }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.8em;
        width: 100%;
        height: 6em;

    }

    button {
        align-items: center;    
        justify-content: center;
        padding: 0.7em;
        width: 45%;
        border-radius: 2em;
        font-size: 1em;
        line-height: 1.3em;
        font-weight: 400;
    }

    button:hover {
        margin: 0.3%;
        width: 44.5%;
        padding: 0.6em;
    }

    .btn-encriptar {
        background-color: #0A3871;
        color: #fff;
        border: none;
    }

    .btn-desencriptar {
        background-color: #d8dfe8;
        color: #0A3871;
        border: 1px solid #0A3871;
    }

.mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 30%;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3em; 
    padding: 1em 0;
}

    .img-mensaje {
        display: block;
        max-width: 80%;
        /* max-height: 50%; */
    }

    .mensaje {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        width: 100%;
        text-align: center;
    }

    .mensaje h2 {
        font-weight: 800;
        font-size: 1.5em;
        line-height: 120%;
        width: 80%;
        color: #343a40;
    }

    .mensaje p {
        font-weight: 400;
        font-size: 1.3em;
        line-height: 150%;
        width: 90%;
        color: #7b8084;
    }


/* MEDIA QUERYS CELULARES */
@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .app {
        width: 95%;
    }
    .img-app {
        width: 100%;
        padding: 0 3em 1em 3em;
        padding-bottom: 2em;
    }
    .txt-origen {
        height: 15%;
    }
    .botones {
        padding-top: 1em;
        flex-direction: column;
        gap: 0.2em
    }
    button {
        width: 95%;
    }
    .mensajes {
        width: 95%;
        margin-top: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .img-mensaje {
        display: none;
    }
}

/* MEDIA QUERY TABLETS */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .app {
        width: 95%;
    }
    .txt-origen {
        height: 15%;
    }

    button {
        width: 95%;
    }
    .mensajes {
        width: 95%;
        margin-top: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .img-mensaje {
        display: none;
    }
}